@using MvcCoreCv.Entities
@model List<TblExperince>
@{
    ViewData["Title"] = "Index";   
}
<h3>Experiences</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>


@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Title</td>
        <td>@item.SubTitle</td>
        <td>@item.Date</td>
            @*<td><a href="/Experience/DeleteExperience/@item.Id"  class="btn btn-danger">Delete</a></td>*@
            <td><a asp-action="DeleteExperience" asp-controller="Experience" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istiyor musun?')">Delete</a></td>
        <td><a  asp-action="UpdateExperience" asp-controller="Experience" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
    </tr>
}
</table>
<a href="Experience/AddExperience"  class="btn btn-primary"> Add New Experience</a>



